* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #181717;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    height: 86px;
    font-family: Barlow, sans-serif;
    margin: 0 46px 0 46px;}

.nav-list {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.nav-list li {
    display: flex;
    justify-content: center;
    margin: 30px;
    cursor: pointer;
}

.nav-list li {
    transition: color 0.3s ease;
}

.nav-list li:hover {
    color: #b0aaaa;
}

.mobile-header .nav-list li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #b0aaaa;
}


.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-user {
    padding: 18px;
}

.mobile-header {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.header-logo svg {
    display: flex;
}

.svg-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

@media (min-width: 500px) {
    .mobile-header {
        display: none;
    }

    .footer-desktop {
        display: none;
    }
}

@media (min-width: 964px) {
    footer {
        display: none;
    }

    .footer-desktop {
        display: block;
    }
}

.logo-class {
    display: flex;
    justify-content: center;
}

.logo-class img {
    width: 26vw;
}

.heading {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 40px;
}

.heading h1 {
    color: white;
    font-family: Barlow, sans-serif;
    font-weight: 600;
}

.about-us-text {
    padding: 0 0 0 40px;
    font-family: Barlow, sans-serif;
    display: flex;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.80);
    width: 740px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.svg-container {
    display: flex;
    justify-content: space-evenly;
    padding: 84px 0 64px 0;
}

.svg-and-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 12px;
}

.span-1 {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: Barlow, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
}

.span-2 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Barlow, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

footer {
    padding-top: 20px;
    text-transform: uppercase;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    cursor: pointer;
}

footer li:first-child {
    border-top: 1px solid grey;
}

footer ul li {
    color: white;
    padding: 18px 28px 18px 28px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: Helvetiva, sans-serif;
}

.fa-circle-chevron-down {
    font-size: 22px;
}

.footer-logo {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-family: Barlow, sans-serif;
    padding-bottom: 24px;
}

.footer-list {
    display: flex;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-list ul li {
    display: flex;
    justify-content: center;
}

.footer-list li {
    flex: 1;
    text-align: start;
    display: flex;
    justify-content: center;
}

.footer-logo-2 {
    display: flex;
    justify-content: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    font-family: Verdana, sans-serif;
    color: rgb(143, 143, 143);
}

.footer-desktop span {
    font-family: Verdana, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

.footer-desktop p {
    font-size: 14px;
    font-weight: lighter;
    font-family: Verdana, sans-serif;
    color: rgb(143, 143, 143);
    cursor: pointer;
}

@media (min-width: 500px) {
    .mobile-header {
        display: none;
    }
}

@media (min-width: 964px) {
    footer {
        display: none;
    }

    .footer-desktop {
        display: block;
    }

    .mobile-header {
        display: flex;
    }
}