* {
    box-sizing: border-box;
}

.image-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    gap: 20px;
    padding: 16px;
}

.mobile-header {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.header-logo svg {
    display: flex;
}

@media (min-width: 500px) {
    .mobile-header {
        display: none;
    }

    .footer-desktop {
        display: none;
    }
}
@media (min-width: 640px) {
    .image-row {
        grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    }

    .footer-desktop {
        display: none;
    }
}

@media (min-width: 744px) {
    .image-row {
        grid-template-columns: repeat(auto-fill, minmax(209px, 1fr));
        padding: 12px 32px 44px 32px;
    }

    .footer-desktop {
        display: none;
    }

    footer {
        display: block;
    }
}

@media (min-width: 964px) {
    footer {
        display: none;
    }

    .footer-desktop {
        display: block;
    }
}

@media (min-width: 971px) {
    .mobile-header {
        display: flex;
    }

    .image-row {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}

@media (min-width: 1200px) {
    .image-row {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
}

@media (min-width: 1261px) {
    .image-row {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #181717;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    height: 86px;
    font-family: Barlow, sans-serif;
    margin: 0 46px 0 46px;}

.nav-list {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.nav-list li {
    display: flex;
    justify-content: center;
    margin: 30px;
    cursor: pointer;
}

.nav-list li {
    transition: color 0.3s ease;
}

.nav-list li:hover {
    color: #b0aaaa;
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-user {
    padding: 18px;
}

.image-container {
    position: relative;
}

.background-image {
    height: auto;
    width: 100%;
}

.content-on-image {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

.content-on-image-two {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

.content-under-image {
    display: block;
}

.section-text {
    margin-top: 20px;
    color: white;
}

.movie-text {
    margin: 0;
    font-size: min(4vw, 46px);
    font-family: "SF Hollywood Hills", sans-serif;
}

.sub-text {
    font-size: min(3vw, 26px);
    font-family: Barlow, sans-serif;
    font-weight: 300;
    padding-bottom: 8px;
}

.sub-text svg {
    width: min(4vw, 34px);
}

.svg-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.svg-two {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0 0 0;
}

.btn-container {
    display: inline-flex;
    gap: 6px;
}

.see-now {
    width: 28px;
    height: 22px;
    background: #FF961A;
    color: white;
    border-radius: 8px;
    border: 0;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.see-now:hover{
    background-color: #d77d12;
}

.btn-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(5vw, 28px);
    height: min(4.4vw, 22px);
    font-size: min(2.4vw, 14px);
    background: rgb(27, 27, 27);
    color: white;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

.btn-plus:hover {
    background-color: #312f2f;
}

.action-btn-div {
    display: flex;
    margin: 20px 0 0 30px;
}

.action-btn {
    font-size: 16px;
    width: 146px;
    height: 38px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    border: 0;
    margin-right: 28px;
    color: white;
    background-color: rgb(60, 60, 60);
    cursor: pointer;
}

.popular-btn {
    font-family: Barlow, sans-serif;
    font-size: 16px;
    width: 146px;
    height: 38px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    border: 0;
    color: white;
    background-color: rgb(60, 60, 60);
    cursor: pointer;
}

.text-over-movies {
    font-family: Barlow, sans-serif;
    font-size: 22px;
    color: white;
    margin: 24px 0 0 30px;
}

@media (min-width: 500px) {
    .action-btn-div {
        margin: 20px 0 0 16px;
    }

    .text-over-movies {
        margin: 20px 0 0 16px;
    }

    .btn-container .see-now span {
        display: none;
    }
}

@media (min-width: 744px) {
    .action-btn-div {
        margin: 20px 0 0 32px;
    }

    .text-over-movies {
        margin: 20px 0 0 32px;
    }

    .see-now {
        width: min(13vw, 122px);
        height: min(3vw, 32px);
        font-size: min(1.8vw, 16px);
    }

    .btn-plus {
        width: min(3vw, 34px);
        height: min(3vw, 32px);
        font-size: min(1.8vw, 16px);
    }

    .btn-container .see-now span {
        display: flex;
    }
}

.image-row img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: filter 0.3s ease;
}

.img-container:hover {
    filter: grayscale(100%);
}

.img-container {
    position: relative;
    display: inline-block;
}

.img-container img {
    transition: filter 0.3s ease;
    width: 100%;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-container:hover .play-btn {
    opacity: 1;
    cursor: pointer;
    font-size: 60px;
}

footer {
    padding-top: 20px;
    text-transform: uppercase;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    cursor: pointer;
}

footer li:first-child {
    border-top: 1px solid grey;
}

footer ul li {
    color: white;
    padding: 18px 28px 18px 28px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: Helvetiva, sans-serif;
}

.fa-circle-chevron-down {
    font-size: 22px;
}

.footer-logo {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-family: Barlow, sans-serif;
    padding-bottom: 24px;
}

.footer-list {
    display: flex;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-list ul li {
    display: flex;
    justify-content: center;
}

.footer-list li {
    flex: 1;
    text-align: start;
    display: flex;
    justify-content: center;
}

.footer-logo-2 {
    display: flex;
    justify-content: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    font-family: Verdana, sans-serif;
    color: rgb(143, 143, 143);
}

.footer-desktop span {
    font-family: Verdana, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

.footer-desktop p {
    font-size: 14px;
    font-weight: lighter;
    font-family: Verdana, sans-serif;
    color: rgb(143, 143, 143);
    cursor: pointer;
}
