* {
    box-sizing: border-box;
}

.image-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    gap: 20px;
    padding: 16px;
}

@media (min-width: 500px) {
    .mobile-header {
        display: none;
    }

    .section-text .movie-text {
        font-size: 20px;
    }

    .section-text .sub-text {
        font-size: 12px;
    }

    .footer-desktop {
        display: none;
    }
}
@media (min-width: 640px) {
    .image-row {
        grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    }

    .action-btn-div .action-btn {
        margin-left: 0;
    }

    .footer-desktop {
        display: none;
    }
}

@media (min-width: 743px) {
    .image-row {
        grid-template-columns: repeat(auto-fill, minmax(209px, 1fr));
        padding: 30px;
    }

    .content-under-image .text-over-movies {
        margin-left: 30px;
    }

    .action-btn-div .action-btn {
        margin-left: 16px;
    }

    .content-on-image .section-text .movie-text {
        font-size: 42px;
    }

    .content-on-image .section-text .sub-text {
        font-size: 22px;
    }

    .content-on-image .see-now {
        width: 115px;
        height: 32px;
        font-size: 18px;
    }

    .content-on-image .btn-pluss {
        width: 42px;
        height: 32px;
        font-size: 20px;
    }

    .footer-desktop {
        display: none;
    }

    footer {
        display: block;
    }

    .content-on-image-two div svg {
        width: 204px;
    }
}

@media (min-width: 964px) {
    footer {
        display: none;
    }

    .footer-desktop {
        display: block;
    }
}

@media (min-width: 971px) {
    .mobile-header {
        display: flex;
    }

    .image-row {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    .content-under-image .text-over-movies {
        margin-left: 30px;
    }

    .action-btn-div .action-btn {
        margin-left: 16px;
    }

    .content-on-image .section-text .movie-text {
        font-size: 56px;
    }

    .content-on-image .section-text .sub-text {
        font-size: 30px;
    }

    .content-on-image .see-now {
        width: 115px;
        height: 42px;
        font-size: 20px;
    }

    .content-on-image .btn-pluss {
        width: 42px;
        height: 42px;
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    .image-row {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
}

@media (min-width: 1261px) {
    .image-row {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #282727;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    z-index: 1;
    height: 100px;
    font-family: Barlow, sans-serif;
}

.nav-list {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.nav-list li {
    display: flex;
    justify-content: center;
    margin: 30px;
    cursor: pointer;
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}

.fa-user {
    padding: 16px;
}

.image-container {
    position: relative;
}

.background-image {
    height: auto;
    width: 100%;
}

.content-on-image {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

.content-on-image-two {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

.content-under-image {
    display: block;
}

.section-text {
    margin-top: 20px;
    color: white;
}

.movie-text {
    margin: 0;
    font-size: 24px;
    font-family: "SF Hollywood Hills", sans-serif;
}

.sub-text {
    font-size: 16px;
    font-family: Barlow, sans-serif;
    font-weight: 300;
    padding-bottom: 4px;
}

.svg-two {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0 0 0;
}

.btn-container {
    display: inline-flex;
    gap: 6px;
}

.see-now {
    width: 88px;
    height: 20px;
    background: #FF961A;
    color: white;
    border-radius: 8px;
    border: 0;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-pluss {
    width: 28px;
    height: 20px;
    background: #282727;
    color: white;
    border-radius: 8px;
    border: 0;
    font-size: 10px;
    cursor: pointer;
}

.dots {

}

.action-btn-div {
    display: flex;
    margin-left: 16px;
    margin-top: 20px;
}

.action-btn {
    font-size: 16px;
    width: 154px;
    height: 38px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    border: 0;
    margin-right: 28px;
    color: white;
    background-color: rgb(27, 27, 27);
}

.popular-btn {
    font-family: Barlow, sans-serif;
    font-size: 16px;
    width: 154px;
    height: 38px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    border: 0;
    color: white;
    background-color: rgb(27, 27, 27);
}

.text-over-movies {
    font-family: Barlow, sans-serif;
    font-size: 26px;
    color: white;
    margin-left: 16px;
    margin-top: 12px;
}

.image-row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

footer {
    padding-top: 20px;
    text-transform: uppercase;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

footer li:first-child {
    border-top: 1px solid grey;
}

footer ul li {
    color: white;
    padding: 18px 28px 18px 28px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.fa-circle-chevron-down {
    font-size: 22px;
}

.footer-logo {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-family: Barlow, sans-serif;
    padding-bottom: 24px;
}

.footer-list {
    display: flex;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-list ul li {
    display: flex;
    justify-content: center;
}

.footer-list li {
    flex: 1;
    text-align: start;
    display: flex;
    justify-content: center;
}

.footer-logo-2 {
    display: flex;
    justify-content: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    font-family: Verdana, sans-serif;
    color: rgb(143, 143, 143);
}

.footer-desktop span {
    font-family: Verdana, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

.footer-desktop p {
    font-size: 14px;
    font-weight: lighter;
    font-family: Verdana, sans-serif;
    color: rgb(143, 143, 143);
    cursor: pointer;
}